body {
    background-image: url(sky.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /*filter: blur(5px);*/
  }
  
  h1 {
    color:white;
    text-align: center;
    padding-top: 10px;
    font-size: 100px;
    text-shadow: 4px 4px #4D4D4D;
  }
  
  ul{
    color: white;
  }
  
  .button {
     background-color: #FF6727;
     border: none;
     border-radius: 15px;
     color: white;
     padding: 20px 34px;
     text-decoration: none;
     display: inline-block;
     font-size: 20px;
     margin: 4px 2px;
     cursor: pointer;
  }
